@import '../../style/mixin';

.trainee_div {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;

  .trainee-tittle {
    @include title();
    width: 100%;
  }

  .add_trainee {
    @include btn-AddMember();
  }
}
