@import '../../style/mixin';

.memberList_div {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;

  .memberList-tittle {
    @include title();
    width: 100%;
  }

  #add_member_btn {
    @include btn-AddMember();
  }

  #add_member_input {
    @include btn-AddMember();
  }
}
