@import 'src/style/variables';
@import 'src/style/mixin';

header {
  display: flex;
  justify-content: space-between;
  height: 40px;

  span {
    @include title();
  }

  button {
    @include btn-primary($bg-gray, $primary-color);
    height: 40px;
  }
}
