@import 'variables';

@mixin title() {
  font-weight: bold;
  font-size: $title-font-size;
}

@mixin btn-primary($color, $bg-color) {
  background-color: $bg-color;
  border: none;
  color: $color;
  width: 150px;
}

@mixin MemberItem($bg-color) {
  background-color: $bg-color;
  width: $item-width;
  height: $item-height;
  line-height: $item-height;
  text-align: center;
  margin: $item-margin;
}

@mixin btn-AddMember() {
  background-color: transparent;
  width: $item-width;
  height: $item-height;
  border: 1px solid $gray;
  margin: $item-margin;
}
