$bg-gray: #f7f7f7;
$light-gray: #eeeeee;
$gray: #929aab;
$dark-gray: #393e46;
$base-font-size: 14px;
$title-font-size: 30px;
$primary-color: #ea5455;
$item-padding-top-bottom: 10px;
$item-padding-left-right: 30px;
$item-margin: 10px;
