@import 'variables';

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: $base-font-size;
  padding: 20px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}
